image: node:16.13.1

definitions:
  caches:
    node: node_modules
  steps:
    - step: &lint-build-test
        name: Lint, build, and test
        caches:
          - node
        script:
          # First install the latest version of Google Chrome (including all of its apt package dependencies)
          - wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | apt-key add -
          - echo 'deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main' >> /etc/apt/sources.list.d/google.list
          # Then update apt package cache so we can install dependencies (including Google Chrome)
          - apt update
          # Install Google Chrome
          - apt install -y google-chrome-stable
          # Set CHROME_BIN environment variable to point to Chrome install location.
          # This is used by karma as part of the ng test script.
          - export CHROME_BIN='/usr/bin/google-chrome-stable'
          # Load TEST environment env variables (find to do since we're only building for the test environment)
          - set -o allexport; source .env.test
          # Install NPM dependencies
          - npm ci
          # Set up playwright for e2e tests
          - npx playwright install
          # Run linter
          - npm run lint
          # Run build
          - npm run build
          # Run unit tests
          - npm run test
          # Run e2e tests
          - npm run test:e2e
    - step: &deploy-siteground
        name: Deploy the app to siteground
        caches:
          - node
        script:
          # Load environment variables from appropriate deployment env file
          - set -o allexport; source ./deploy-siteground/.env.${BITBUCKET_BRANCH}
          # Latest release name will be based on current date and time
          - LATEST_RELEASE_DIR_NAME="$(date +%Y%m%d_%H%M%S)"
          # Full path to release is derived from loaded environment variables
          - FULL_PATH_TO_LATEST_RELEASE_DIR="$REMOTE_RELEASES_DIR/$LATEST_RELEASE_DIR_NAME"
          # Install NPM dependencies
          - npm ci
          # Run build
          - npm run build
          # Copy any relevant .htaccess file into the build (if it exists)
          - |
            [ -f "./deploy-siteground/.htaccess.${BITBUCKET_BRANCH}" ] && echo 'Adding .htaccess file to build' && cp ./deploy-siteground/.htaccess.${BITBUCKET_BRANCH} ./build/.htaccess
          # If ADD_NOINDEX_ROBOTS_TXT is true, add a no-index robots.txt file to the build
          - |
            [ "$ADD_NOINDEX_ROBOTS_TXT" = true ] && echo 'Adding no-index robots.txt file to build' && echo -e "User-agent: *\nDisallow: /" > ./build/robots.txt
          # Rename build dir to intended release dir name
          - mv ./build ./$LATEST_RELEASE_DIR_NAME
          # Create remote releases dir if it doesn't exist
          - ssh -p 18765 u664-oora98pjoccl@slasher.tv "mkdir -p $REMOTE_RELEASES_DIR"
          # Deploy to siteground by scp-ing files.  This only works because we added the correct
          # SSH key via the BitBucket repository settings "SSH keys" page.
          - scp -r -P 18765 ./$LATEST_RELEASE_DIR_NAME u664-oora98pjoccl@slasher.tv:$REMOTE_RELEASES_DIR/
          # Update remote public_html symlink to point to latest release
          - ssh -p 18765 u664-oora98pjoccl@slasher.tv "ln -nsf $FULL_PATH_TO_LATEST_RELEASE_DIR $REMOTE_PUBLIC_HTML_DIR"
          # TODO: Eventually add code here to clean up old releases.  We'll just delete them manually for now.
    - step: &deploy-cloudflare
        name: Deploy the app to cloudflare
        caches:
          - node
        script:
          # Load environment variables from appropriate deployment env file
          - set -o allexport; source ./deploy-cloudflare/.env.${BITBUCKET_BRANCH}
          # Install NPM dependencies
          - npm ci
          # Run build
          - npm run build
          # If ADD_NOINDEX_ROBOTS_TXT is true, add a no-index robots.txt file to the build
          - |
            [ "$ADD_NOINDEX_ROBOTS_TXT" = true ] && echo 'Adding no-index robots.txt file to build' && echo -e "User-agent: *\nDisallow: /" > ./build/robots.txt
          # Add Cloudflare _redirects file to the build, if file exists present
          - |
            [ -f "./deploy-cloudflare/_redirects.${BITBUCKET_BRANCH}" ] && echo 'Adding Cloudflare _redirects file to build' && cp ./deploy-cloudflare/_redirects.${BITBUCKET_BRANCH} ./build/_redirects
          # Deploy build to Cloudflare Pages
          # See: https://developers.cloudflare.com/pages/how-to/use-direct-upload-with-continuous-integration/
          # Note: Need to specify "--branch main" below to get Cloudflare to treat this as a
          #       "Production" deployment for the specified --project.
          - npx wrangler pages publish ./build --branch main --project-name=$CLOUDFLARE_PROJECT_NAME

pipelines:
  branches:
    # Always run on main
    main:
      - step: *lint-build-test
    # Always run on develop
    develop:
      - step: *lint-build-test
    deploy/prod:
      #- step: *lint-build-test
      - step: *deploy-cloudflare
    deploy/prod-skiptests:
      - step: *deploy-cloudflare
    deploy/staging:
      #- step: *lint-build-test
      - step: *deploy-cloudflare
    deploy/staging-skiptests:
      - step: *deploy-cloudflare
    deploy/staging2:
      - step: *lint-build-test
      - step: *deploy-siteground
    deploy/staging2-skiptests:
      - step: *deploy-siteground
    deploy/dev:
      - step: *lint-build-test
      - step: *deploy-siteground
    deploy/dev-skiptests:
      - step: *deploy-siteground
  pull-requests:
    # Run for any branch that has an open pull request
    '**':
      - step: *lint-build-test
