@import './bootstrap-variables.scss';
@import "~bootstrap/scss/bootstrap";

html {
  height: 100%;
}

body {
  background-color: #080808;
  background-image: linear-gradient(#161618 0px, #080808 1000px);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

input:hover {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  color: var(--bs-body-color);
}

.btn-lg {
  font-weight: 500;
}
