@import './bootstrap-variables.scss';
@import "~bootstrap/scss/bootstrap";

html {
  height: 100%;
}

body {
  color: #fff;
  background-color: #080808;
  background-image: linear-gradient(#161618 0px, #080808 1000px);
  background-repeat: no-repeat;
}

input.form-control {
  border-radius: $btn-border-radius;
}

.btn {
  color: #ffffff;
}