@import './bootstrap-variables.scss';
@import "~bootstrap/scss/bootstrap";

.btn-primary {
  // See: https://getbootstrap.com/docs/5.2/components/buttons/#sass-mixins
  @include button-variant(
    $background: $primary,
    $border: #FF1700,
    $color: #ffffff,
    $hover-color: #ffffff,
    $active-color: #ffffff
  );
}

.btn-secondary {
  // See: https://getbootstrap.com/docs/5.2/components/buttons/#sass-mixins
  @include button-variant(
    $background: $secondary,
    $border: #333333,
    $color: #ffffff,
    $hover-color: #ffffff,
    $active-color: #ffffff
  );
}

.btn-form {
  // See: https://getbootstrap.com/docs/5.2/components/buttons/#sass-mixins
  @include button-variant(
    $background: #1f1f1f,
    $border: #3A3B46,
    $color: #ffffff,
    $hover-background: #1f1f1f,
    $hover-color: #ffffff,
    $active-background: $primary,
    $active-color: #ffffff
  );
}

html {
  height: 100%;
}

body {
  background: -webkit-gradient(linear, top, bottom, color-stop(0%, #161618), color-stop(300px, transparent)) no-repeat #080808; /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(top, #161618 0%, transparent 300px) no-repeat #080808; /* Chrome10+, Safari5.1+ */
  background: -moz-linear-gradient(top, #161618 0%, transparent 300px) no-repeat #080808;    /* FF3.6+ */
  background: linear-gradient(to bottom, #161618 0%, transparent 300px) no-repeat #080808;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

input:hover {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
}

.btn-lg {
  font-weight: 500;
}
